providers {
  github {
    token = System.getenv('GITHUB_TOKEN') ?: System.getenv('GITHUB_PAT') ?: ''
  }
}

lamin {
  instance = "laminlabs/lamindata"
  project_uids = ["?nf-lamin-test-project"]
  branch_uid = "?nf-lamin-test-branch"
  ulabel_uids = ["?nf-lamin-test-ulabel"]
  // space_uid = "?nf-lamin-test-space"
  output_artifacts {
    rules {
      output {
        pattern = ".*"
        order = 1
        type = "include"
        ulabel_uids = ["?nf-lamin-test-label"]
      }
      // don't publish state.yaml files
      yaml {
        pattern = ".*\\.state\\.yaml"
        type = "exclude"
        order = 10
      }
    }
  }
}
