plugins {
  id 'nf-lamin@0.5.2'
}

lamin {
  instance = "laminlabs/lamindata"
  api_key = secrets.LAMIN_API_KEY
  // api_key = secrets.LAMIN_STAGING_API_KEY
  // env = "staging"
  project_uids = ["?nf-lamin-test-project"]
  branch_uid = "?nf-lamin-test-branch"
  ulabel_uids = ["?nf-lamin-test-ulabel"]
  // space_uid = "?nf-lamin-test-space"
  output_artifacts {
    rules {
      output {
        pattern = ".*"
        order = 1
        type = "include"
        ulabel_uids = ["?nf-lamin-test-label"]
      }
      // don't publish state.yaml files
      yaml {
        pattern = ".*\\.state\\.yaml"
        type = "exclude"
        order = 10
      }
    }
  }
}

report {
  enabled = true
  overwrite = true
  file = "report.html"
}
